[submodule "tests/catch2"]
	path = tests/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/inja"]
	path = external/inja
	url = https://github.com/pantor/inja.git
